@import "tailwindcss";

@font-face {
    font-family: 'Police';
    src: url('../public/fonts/Comfortaa-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Police';
    src: url('../public/fonts/Comfortaa-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Police';
    src: url('../public/fonts/Comfortaa-Regular.ttf') format('truetype');
}

.font-police-bold {
    font-family: 'Police', sans-serif;
}

.font-police-light {
    font-family: 'Police', sans-serif;
}

.font-police-regular {
    font-family: 'Police', sans-serif;
}

